

main{
    max-width: 840px;
}

h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
.image-auto-size{
    width: 200px;
    height: auto;
}
p {
    padding: 0px;
}
aside {
    width: 20rem;
    border: 1px solid rgb(0, 0, 0 / 0.2); 
    padding: 1px;
    margin: 1rem;
    background-color: lightgray;
    text-align: center;
}
footer {
    margin-top: 15px;
    border-top: 2px solid darkblue;
    text-align: center;
    font-size: medium;
    color: darkcyan;
}