
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
}

h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}
aside {
    width: 200px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2); 
    padding: 5px;
    margin: 1px;
    background-color: lightgray;
    text-align: center;
}
aside img{width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 2px solid darkblue;
    text-align: center;
    font-size: medium;
    color: darkcyan;
}
nav {
  background-color: #03364e;
  padding: 1rem;
}
nav a{
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
    color: white;
}
/* Class Selectors */

.box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    color: darkkhaki;
}