
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
      grid-column:  2/3;
      margin: 1rem;
}

h1 {
    color: darkblue;
    border-bottom: #AD85D5 4px solid;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}
aside {
    width: 20rem;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2); 
    padding: 5px;
    margin: 1px;
    background-color: darkgray;
    text-align: center;
    position: relative;
    grid-column:  1/2   ;
    grid-row: 1/2;
}
aside h2{
    position: absolute;
    top: 80px;
    left: 155px;
    color: rgb(240, 5, 5);
}
aside img{width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 2px solid darkblue;
    text-align: center;
    font-size: medium;
    color: darkcyan;
}
nav {
    display: flex;
  background-color: #277f99;
  padding: 1rem;
  justify-content: space-evenly;
    align-items: center;
}
nav a{
    padding: 0.5rem 1rem;
    display: block;
    color: white;
    font-size: medium;
    font-weight: 700;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
/* Class Selectors */

.box {
    border: 2px solid rgba(0,0,0,0.1);
    padding: 1rem;
    margin: 1rem;
    background-color: darkgray;
    color: white;
}
.icon {
    width: 8rem;
    height: auto;
}
.grid {
    display: grid;
    align-items: center;
}
