
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 840px;
}

h1 {
    color: darkblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0px;
}
aside {
    width: 400px;
    height: auto;
    border: 1px solid rgb(0, 0, 0 / 0.2); 
    padding: 5px;
    margin: 1px;
    background-color: darkgray;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top: 80px;
    left: 155px;
    color: rgb(240, 5, 5);
}
aside img{width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 2px solid darkblue;
    text-align: center;
    font-size: medium;
    color: darkcyan;
}
nav {
  background-color: #277f99;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
    align-items: center;
}
nav a{
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
    color: white;
}
/* Class Selectors */

.box {
    border: 2px solid black;
    padding: 1rem;
    margin: 1rem;
    background-color: darkgray;
    color: white;
}
.icon {
    width: 8rem;
    height: auto;
}